<div class = "about">
  <h2 class="mx-5 about-title"><strong>Dog and Meとは</strong></h2>
  <div class="m-2 mx-5 about-text">
    あなたと愛犬とのお出かけスポットの情報を記録し、みんなで投稿して共有するサイトです。<br>
    公園、お店、施設、牧場、道の駅、中には美術館や水族館にゴルフ場など…<br>
    あなたと愛犬が感動した体験を、写真とともにシェアしたり、愛犬家同士で情報交換したり、
    他の方の体験を元に、新しい思い出を築いてください。
  </div>
  
  <div class="m-5 about-message">
    わんちゃんの限られた時間の中で、あなたとともに過ごした体験は、わんちゃんにとってとても幸せな出来事になるでしょう。
  </div>
</div>
