<div class="container">
  <div class="row">
    <div class="col-md-12 about-box shadow rounded px-0 my-5">
      <h3 class="about-title py-4">Dog and Meとは</h3>
      <div class="m-2 mx-3 about-text">
        あなたと愛犬とのお出かけスポットの情報を記録し、<br>
        みんなで投稿して共有するサイトです。<br>
        近所のお店や複合施設だったり、<br>
        休日のお出かけとして遊園地、牧場、中には美術館や水族館にゴルフ場だったり・・・<br>
        わんちゃんを飼っている人ならではの視点で感想をシェアし、<br>
        愛犬家同士の情報交換として利用できます。<br>
        あなたと愛犬が過ごした体験を投稿して、新しい思い出を増やしましょう！
      </div>
      <div class="row mx-2">
        <div class="col-md-6 col-lg-4 my-3">
          <%= image_tag 'about1.jpeg', class: "mx-auto d-block about-image" %>
        </div>
        <div class="col-md-6 col-lg-4 my-3">
          <%= image_tag 'about2.jpeg', class: "mx-auto d-block about-image" %>
        </div>
        <div class="col-md-6 col-lg-4 my-3">
          <%= image_tag 'about3.jpeg', class: "mx-auto d-block about-image" %>
        </div>
      </div>
      
      <div class="m-4 about-message">
        <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
        わんちゃんの限られた時間の中で、あなたとともに過ごした体験は、彼らにとってとても幸せな体験になるでしょう。
        </div>
      </div>
      
    </div>
  </div>
</div>
