<div class = "about">
  <h2 class="about-title"><strong>Dog and Meとは</strong></h2>
  <div class="about-text">
    愛犬と一緒にお出かけできるスポットの情報を記録、共有するサイトです。<br>
    ドッグランはもちろん、公園、おしゃれカフェ、宿泊施設、牧場、道の駅、中には美術館や水族館にゴルフ場など…<br>
    わんちゃん同伴OKな場所は沢山あるものの、実際に訪れた感想、写真の雰囲気も下調べに必要かと思います。<br>
    家族である愛犬もいっしょに楽しめる、行ってみたいスポットや、知らなかったスポットの情報がDog and Meできっと見つかるでしょう。<br>
    いつもと違うお散歩で、わんちゃんもリフレッシュし、科学的に認知症の予防にもなるそうです。<br>
    Dog and Meで愛犬のかわいい写真を場所と感想とともに記録して振り返ったり、愛犬家同士でいいねやフォローし合ったりすることもできます。<br>
    愛犬との限られた時間を大切に過ごすため、新鮮な、新しい思い出を作りましょう！
  </div>
</div>
