<div class = "about">
  <h2 class="mx-5 about-title"><strong>Dog and Meとは</strong></h2>
  <div class="m-2 mx-5 about-text">
    あなたと愛犬とのお出かけスポットの情報を記録し、みんなで投稿して共有するサイトです。<br>
    公園、お店、施設、牧場、道の駅、中には美術館や水族館にゴルフ場など…<br>
    わんちゃん同伴可能なのに知らなかった場所、こんなところもあるんだ、ここに行ってみたい！など、愛犬と気軽にお出かけできるきっかけになれば幸いです。<br>
    あなたと愛犬が感動した体験を写真とともにシェアしたり、愛犬家同士で情報交換したり、
    また他の方の体験を元に、あなたとわんちゃんとの新しい思い出を築いてください。
  </div>
  
  <div class="m-5 about-message">
    わんちゃんの限られた時間の中で、あなたとともに過ごした体験は、わんちゃんにとって、とても幸せな体験になるでしょう。
  </div>
</div>
