<div class = "about">
  <h2 class="mx-5 about-title"><strong>Dog and Meとは</strong></h2>
  <div class="m-2 mx-5 about-text">
    あなたと愛犬とのお出かけスポットの情報を記録し、みんなで投稿して共有するサイトです。<br>
    近所のお店・複合施設だったり、休日のお出かけとして遊園地・牧場・道の駅・中には美術館や水族館にゴルフ場だったり・・・<br>
    わんちゃんを飼っている人ならではの視点で感想をシェアし、愛犬家同士の情報交換として利用できます。<br>
    あなたと愛犬が過ごした体験を投稿して、新しい思い出を増やしましょう！
  </div>
  
  <div class="m-5 about-message">
    わんちゃんの限られた時間の中で、あなたとともに過ごした体験は、わんちゃんにとって、とても幸せな体験になるでしょう。
  </div>
</div>
