<div class="container">
  <div class="mt-2">
    <div>
      <h3 style="color: #82654D; font-size: 35px;">Search Results</h3>
      <p style="font-size: 20px;">
        ー<%= "#{params[:keyword]}の" unless params[:keyword].blank? %>検索結果ー
      </p>
    </div>

    <% if @posts.blank? %>
      検索結果はありません
    <% else %>
      <div class="row mb-4">
        <%= render 'posts/index', posts: @posts %>
      </div>
    <% end %>
  <%= paginate @posts %>
  </div>
</div>

