<div class="container">
  <div class="mt-2">
    <div>
      <h3 style="color: #82654D; font-size: 40px;">Search Results</h3>
      <p style="font-size: 20px;">
        ー<%= "#{params[:keyword]} no " unless params[:keyword].blank? %>検索結果ー
      </p>
    </div>

    <% if @posts.blank? %>
      Nothing
    <% else %>
      <div class="row">
        <%= render 'posts/index', posts: @posts %>
      </div>
    <% end %>

</div>
<%= paginate @posts %>
