<div class="container">
  <div class="row mt-2">
    <div class="col-md-12 text-right post-plus">
      <%=link_to " ", new_post_path ,class: "far fa-plus-square text-dark" %>
    </div>
  </div>
  <div class="row mt-3">
    <% if params[:hash_name] == nil %>
    <% else %>
      <%= render 'posts/index', posts: @posts %>
        <%= paginate @posts %>
    <% end %>
  </div>

  <div class="row">
    <div class= "col-md-12">
      <% @hashtags.sort.reverse.each do |count| %>
        <% count[1].each do |hashtag| %>
        <p>
          <%= link_to  "##{hashtag.hashname} (#{hashtag.posts.count}) 件","/post/hashtag/#{hashtag.hashname}",data: {"turbolinks" => false} %>
        </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
