/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "slick-theme";
 @import "slick";


 @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Yomogi&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'FontAwesome', 'Raleway', 'Yomogi', cursive!important;
}

.bg-header {
 background-color:#FFB745;
}

.bg-footer {
 background-color:#66380a;
}

.logo {
 mix-blend-mode:darken;
}

body {
 padding-top: 106px;
 padding-bottom: 40px;
 background-color:#FDF5EE;
}

.main-visual {
 height: calc(100vh - 146px);
 background-image: url("top.jpeg");
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

.main-title {
 color: #82654D;
 font-size: 50px;
 padding: auto;
}

.main-visual-content {
  margin-left: 50px;
}



.bg-white-50 {
 background-color: rgba(255, 255, 255, .3);
 border-radius: 20px;
 position: absolute;
 margin-top: 170px;
 margin-left: 300px;
}

.post-index-image {
 height: 170px;
 width: 100%;
 object-fit: cover;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination {
  justify-content: center;
}

.favorite-btn {
 text-decoration: none;
 width: 20px;
 height: 20px;
 font-size: 20px;
 color: #808080;
 margin-left: 10px;
 }

 .unfavorite-btn {
 text-decoration: none;
 width: 20px;
 height: 20px;
 font-size: 20px;
 color: #e54747;
 margin-left: 10px;
 }

 .comment-mark {
  width: 20px;
 height: 20px;
 font-size: 20px;
 color: #808080;
 margin-left: 10px;
 }

.favorites-post{
 text-decoration: none;
 color: #e54747;
}

.dog-link{
 color: #fa9432;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}



// 新規登録、ログイン
.sign-in-box {
 background-color:#FFFFFF;
}

.sign-in {
 background-color: #e6fafa;
}

// アバウトページ
.about {
	background-image: url('about.jpg');
 height: calc(100vh - 146px);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

.about-title {
 margin-left:100px;
 padding-top :20px;
}

.about-text {
 margin-left:110px;
 padding-top :10px;
}

// フラッシュメッセージ
main {
  .main {
    .flash-window  {
      // 窓の形、色、文字の形、色
      height: 50px;
      padding: 10px;
      color: white;
      background: #FFB745;
      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      // 表示・非表示にかける時間
      transition: 0.5s 0s ease;

      // 窓の位置調整
      position: fixed;
      bottom: 40px;
      left: 0;
      right: 0;
      margin: auto;

      p {
        color: white;

        span {
          margin-left: 1vw;
          color: white;

          &:hover {
            cursor: pointer;
          }
        }
      }

      // 窓が非表示の時の状態
      &.hidden {
        opacity: 0;
        bottom: -50px;
      }
    }
  }
}

