// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿一覧（Home）
.post-box{
	box-shadow: 1px 1px 5px #D6C5C9;
	width: 270px;
	height: 350px;
	margin: auto;
	margin-top:5px;
	margin-bottom:5px;
	background-color:#FFFFFF;
}


// 新規投稿,投稿編集
.post-send {
	background-color: #ffdead;
}

.new-post-box{
	background-color:#FFFFFF;
}

.hashtag-name{
	margin-top:20px;
	border: 1px solid #82654D;
	display: flex;
	flex-wrap: wrap;
}

.hashtag-name p{
	margin: 10px;
}
