// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿一覧（Home）
.post-box{
	box-shadow: 1px 1px 5px #D6C5C9;
	width: 270px;
	height: 350px;
	margin: auto;
	margin-top:5px;
	margin-bottom:5px;
}

// 新規投稿ボタン
.post-plus {
	text-decoration: none;
	width: 50px;
	height: 50px;
    font-size: 50px;
}

// 新規投稿,投稿編集
.todo-title {
	background-color:#F268B4;
}
