<%= link_to notifications_path do %>
  <% if user_signed_in? && current_user.unchecked_notifications.any? %>
    <span class="fa-stack">
      <i class="fas fa-bell faa-ring animated fa-stack-2x bell-mark-circle"></i>
      <i class="fas fa-circle fa-stack-1x n-circle"></i>
    </span>
  <% else %>
    <i class="fas fa-bell fa-2x bell-mark "></i>
  <% end %>
<% end %>
