<!--<footer class="bg-dark text-white pt-5 pb-4 fix-bottom">-->
<!--  <div class="row">-->
<!--    <div class="mx-auto">-->
<!--        <ul class="p-0 list-unstyled">-->
<!--          <li>-->
<!--            <a href="" title="About" class="text-white-50">会社概要</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
